*
!.gitignore
!proteus
!103c8
!python

# 103c8 Dosyası
103c8/*
!103c8/Core
!103c8/Debug
103c8/Debug/*
!103c8/Debug/103c8.hex

103c8/Core/*
!103c8/Core/Src
!103c8/Core/Inc

103c8/Core/Src/*
!103c8/Core/Src/**.c

103c8/Core/Inc/*
!103c8/Core/Inc/**.h

# Proteus Dosyası
proteus/*
!proteus/proje.pdsprj

# Python Dosyası
python/*
!python/**.py
!python/requirements.txt